<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Table</title>
</head>
<body>

<div>
    <table border="1">
        <tr>
            <th><form method="GET" th:action="@{/sortByFirstName}">
                <button type="submit">First Name</button>
            </form></th>
            <th><form method="GET" th:action="@{/sortByLastName}">
                <button type="submit">Last Name</button>
            </form></th>
            <th>Delete</th>
        </tr>
        <tr th:each ="user : ${usersList}">
            <td th:utext="${user.firstName}">...</td>
            <td th:utext="${user.lastName}">...</td>
            <td><form th:action="@{'/delete/{id}'(id=${user.id})}" th:method="post" >
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit" id="submitButton">Delete</button>
            </form></td>
<!--            <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
        </tr>
    </table>
</div>
<form method="GET" th:action="@{/add_user}">
    <button type="submit">Add</button>
</form>
<form method="GET" th:action="@{/overwrite}">
    <button type="submit">Save</button>
</form>

</body>

</html>